<md-toolbar color="primary"> 
        <span> 
            <a [routerLink]="['']">{{title}}</a>
        </span>  
        <md-toolbar-row>
            <span class="left">
                <a [routerLink]="['/film-card']">{{left}}</a>
            </span>
            <span class="center">
                <a href="http://shalex.info/"> shalex.info</a>
            </span>
            <span class="right">
                <a [routerLink]="['/product-card']">{{right}}</a>
            </span>
        </md-toolbar-row>

</md-toolbar>