*{
    margin: 0;
    padding: 0;
}

body { font-family: Roboto, Arial, sans-serif; }

md-toolbar-row.mat-toolbar-row{
    justify-content: space-around;
}

.mat-toolbar-layout:first-child(){display: none;}